.temp-pager {


    &__page {
        
        margin-top: 70px;
        border-top: 2px solid gray;
        padding-top: 70px;

        &:first-child {
            margin-top: 0;
            border-top: 0;
            padding-top: 0;
        }
    }
}