/*

//----------------------------------------------------//
// Mixins & Includes                                  //
//----------------------------------------------------//
@mixin notext {
	overflow: hidden;
	text-indent: -9999px;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.centered	{
	display: table;
	width: 100%;
	height: 100%;
	> * {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
}

// PLACEHOLDER MIXIN
@mixin placeholderColor($input-text-color) {
	&::-webkit-input-placeholder {color: $input-text-color;}
	&:-moz-placeholder {color: $input-text-color; opacity: 1;}
	&::-moz-placeholder {color: $input-text-color; opacity: 1;}
	&:-ms-input-placeholder {color: $input-text-color;}
	&:focus:-moz-placeholder {color:transparent; opacity: 1;}
	&:focus::-moz-placeholder {color:transparent; opacity: 1;}
	&:focus::-webkit-input-placeholder {color:transparent;}
	&:focus:-ms-input-placeholder {color:transparent;}
	&:focus::placeholder {color:transparent;}
}

@mixin clearfix {
	&:after {
		content: " ";
		display: block;
		clear: both;
	}
}

// Clear select without default button
@mixin clearSelect {
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

//elements get appended with "__" and the $name
@mixin e($name) {
	@at-root   #{&}__#{$name} {
		@content;
	}
}

//modifiers get appended with "--" and the $name
@mixin m($name) {
	@at-root   #{&}--#{$name} {
		@content;
	}
}

 @mixin b($point) {
	@if $point == desktop {
		@media (max-width: 1366px) and (min-width:1024px) { @content ; }
	}
	@else if $point == tablet {
		@media (max-width: 1000px) { @content ; }
	}
	@else if $point == phablet {
		@media (min-width: 37.5em)  { @content ; }
	}
	@else if $point == mobile {
		@media (max-width: 767px)  { @content ; }
	}
	@else if $point == mobile3x {
		@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 3dppx), only screen and (min-resolution: 350dpi) {
			@content ;
		}
	}
	@else {
		@media (max-width: $point + 'px')  { @content ; }
	}
}

@mixin ie() {
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  	@content ;
	}
}

@mixin before-img($width, $height) {
	content: '';
	display: block;
	position: absolute;
	width: $width;
	height: $height;
}

//----------------------------------------------------//
// REM FONT_SIZE WITH FALLBACK 												//
//----------------------------------------------------//
// USAGE:
// p {
//   @include font-size(14px)
// }

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}


@mixin gradient($top, $bottom) {
   background: $top;
   background: -moz-linear-gradient(top,  $top 0%, $bottom 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom));
   background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%);
   background: -o-linear-gradient(top,  $top 0%,$bottom 100%);
   background: -ms-linear-gradient(top,  $top 0%,$bottom 100%);
   background: linear-gradient(to bottom,  $top 0%,$bottom 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$top}', endColorstr='#{$bottom} ',GradientType=0 );
}


@mixin textCut($col) {
  display: -webkit-box;
  -webkit-line-clamp: $col;
  -webkit-box-orient: vertical;
  overflow: hidden;
}



.transition {
	transition: all .2s ease-in-out;
	&:hover {
		transition: all .2s ease-in-out;
	}
}

.rlist {
	font-size: 0;
	line-height: 0;
}
.ulist {
	font-size: $mainFontSize;
	line-height: $mainFontHeight;
}

 */
.transition {
  transition: all 0.2s ease-in-out;
}
.transition:hover {
  transition: all 0.2s ease-in-out;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}
.ulist {
  font-size: 14px;
  line-height: 1.43;
}
.rlist {
  font-size: 0;
  line-height: 0;
}
.icon-logo {
  width: 158px;
  height: 44px;
}
.icon-logo-sm {
  width: 138px;
  height: 39px;
}
.icon-arrow {
  width: 19px;
  height: 13px;
}
.icon-arrow-md {
  width: 24px;
  height: 16px;
}
.icon-arrow-lg {
  width: 26px;
  height: 18px;
}
.guest-page.dark-header-page .header__nav {
  padding: 0;
  background: rgba(0, 0, 0, 0.4);
}
.guest-page.dark-header-page header.header {
  background-size: cover;
  background-position: center top;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.guest-page.dark-header-page header.header .intro__inner {
  flex-grow: 0.9;
  flex-shrink: 1;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.guest-page.dark-header-page header.header .intro__inner .intro__content {
  text-align: center;
}
.guest-page.dark-header-page header.header .intro__inner .intro__content .intro__content-inner {
  max-width: 690px;
  margin: auto;
}
.guest-page.dark-header-page header.header .intro__inner .intro__title {
  padding-bottom: 30px;
  font: 600 70px/60px 'Proxima Nova Rg', sans-serif, "Verdana";
  color: #fff;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.guest-page.dark-header-page header.header .intro__inner .intro__subtitle {
  padding-bottom: 48px;
  font: 400 20px/26px 'Proxima Nova Rg', sans-serif, "Verdana";
  color: #fff;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.guest-page.dark-header-page header.header .intro__inner .intro__links-item {
  display: inline-block;
  vertical-align: top;
  padding: 0 7px;
}
.guest-page.dark-header-page header.header .intro__inner .intro__links-item .btn [class*="icon-"] {
  display: inline-block;
  vertical-align: middle;
}
.guest-page.dark-header-page header.header .intro__inner .intro__links-item .btn.btn-green {
  padding: 12px 26px 13px 26px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #80bc1c;
  background: rgba(0, 0, 0, 0.3);
  font: 600 16px 'Proxima Nova Rg', sans-serif, "Verdana";
  color: #fff;
  fill: #fff;
}
.guest-page.dark-header-page header.header .intro__inner .intro__links-item .btn.btn-green.btn-green-success {
  background: #80bc1c;
}
.guest-page.dark-header-page header.header .intro__inner .intro__links-item .btn.btn-green:hover {
  background-color: #629115;
}
.guest-page.dark-header-page header.header .intro__inner .intro__links-item .btn.btn-green--lg {
  font-size: 20px;
}
.guest-page.dark-header-page header.header .intro__inner .intro__links-item .btn .btn__icon {
  margin-left: 5px;
}
.guest-page.dark-header-page header.header .intro__inner .intro__links-item .btn .btn__text {
  display: inline-block;
  vertical-align: middle;
}
.guest-page.dark-header-page header.header .intro__inner .intro__links-item .btn .btn__icon {
  margin-left: 5px;
}
.guest-page.dark-header-page ul.nav__guest li.menu-lang .dropdown button.dropdown-toggle {
  border-color: #fff;
  color: #fff;
}
.guest-page.dark-header-page ul.nav__guest li.menu-lang .dropdown button.dropdown-toggle .caret,
.guest-page.dark-header-page ul.nav__guest li.menu-lang .dropdown button.dropdown-toggle:hover .caret {
  color: #fff;
}
.guest-page.dark-header-page ul.nav__guest li .login-button:hover {
  color: white;
}
.guest-page.dark-header-page ul.nav__guest li .login-button:hover .login-button-title {
  color: white;
}
.guest-page.dark-header-page ul.nav__guest li .login-button .login-button-title {
  color: #93bb36;
}
.guest-page.dark-header-page ul.nav__guest li.menu-link.sel a,
.guest-page.dark-header-page ul.nav__guest li.menu-link:hover a {
  border-bottom: 3px solid #93bb36;
  line-height: 74px;
}
.guest-page.dark-header-page ul.nav__guest li.menu-link:hover a {
  border-bottom: 3px solid #93bb36;
}
.guest-page.dark-header-page ul.nav__guest li.menu-link a {
  border-top: 3px solid rgba(0, 0, 0, 0);
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  color: #fff;
  display: inline-block;
  line-height: 74px;
  white-space: nowrap;
}
